/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'REM', sans-serif;
  list-style: number;
}

/* Home page */
body {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}

.title {
  font-size: 3rem;
  color: whitesmoke;
  text-align: center;
  margin-top: 2rem;
}

.container {
  padding: 2rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 50rem;
}

@media (min-width: 48rem) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .user-name {
    grid-column: span 2;
  }
}

.rules,
.scoreBoard {
  border-bottom: 2px solid whitesmoke;
  text-align: left;
  padding: 2rem;
  min-height: 18rem;
}

.scoreBoard-title,
.rules-title {
  margin-bottom: 1rem;
}

.rules-details {
  text-align: justify;
}

.rules-details li,
.scoreBoard li {
  margin-top: 0.5rem;
}

/* .scoreBoard-list li {
  text-align: justify;
} 
need to fix it to not-centered */

.user-name {
  border-bottom: 2px solid whitesmoke;
  padding: 2rem;
  text-align: center;
}

.user-name-input,
.user-name-button {
  padding: 0.5rem;
  border-radius: 10px;
  border-color: #909edb;
}

.user-name-input {
  margin-top: 1rem;
}

.user-name-button {
  background-color: #909edb;
  max-width: 6rem;
}

.start-btn {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #909edb;
  border: none;
  max-width: 8rem;
  margin: 0 auto;
  grid-column: span 2;
}

.start-btn a {
  text-decoration: none;
}

.start-btn a:visited {
  color: black;
}
